# Master .gitignore

# Ignore the entire IDE folder
.idea/

# Ignore React dependencies
frontend/node_modules/

# Ignore your private DB config
backend/config/db.php

# Ignore Mac junk
.DS_Store

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Dependencies and Build
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files (Usually at the root)
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PHP / Backend specific
backend/vendor/
.env

# Ignore car photos
backend/uploads/